Repository pwwang/python-varname: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^varname/.+$
        pass_filenames: false
        types: [python]
        args: [varname]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        entry: dephell deps convert --from=poetry --to=setup.py
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: poetry2requirements
        name: Convert pyproject.toml to requirements.txt
        entry: dephell deps convert --from=poetry --to=requirements.txt
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^varname/.+$

Add argname to retrieve argument names/sources passed to a function (#42)
  README.md
  README.rst
  docs/CHANGELOG.md
  playground/playground.ipynb
  pyproject.toml
  requirements.txt
  setup.py
  tests/conftest.py
  tests/test_argname.py
  varname/__init__.py
  varname/core.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Add todos for argname
  varname/core.py
Due: pytest

Add todos for argname (#43)
  varname/core.py
Due: pytest

Add changes
  index.html
Due: none

Use argname to implement nameof
  README.md
  tests/test_argname.py
  tests/test_bytecode_nameof.py
  tests/test_helpers.py
  tests/test_nameof.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Allow variable positional arguments (*args) for argname
  playground/playground.ipynb
  tests/test_argname.py
  tests/test_bytecode_nameof.py
  tests/test_nameof.py
  varname/core.py
  varname/helpers.py
  varname/utils.py
Due: pytest

Update changelog
  README.rst
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

Parse the arguments only if needed
  docs/CHANGELOG.md
  tests/test_argname.py
  varname/core.py
  varname/utils.py
Due: pytest

Update readme
  README.md
Due: none

Using argname to reimplement nameof (#44)
  README.md
  README.rst
  docs/CHANGELOG.md
  playground/playground.ipynb
  pyproject.toml
  setup.py
  tests/test_argname.py
  tests/test_bytecode_nameof.py
  tests/test_helpers.py
  tests/test_nameof.py
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Add ignore_stdlib in config
  .pylintrc
  README.md
  playground/playground.ipynb
  varname/ignore.py
  varname/utils.py
Due: pytest

Fix playground
  playground/playground.ipynb
Due: none

Default ignore_stdlib to False
  README.md
  tests/test_varname.py
  varname/utils.py
Due: pytest

Update docs
  playground/playground.ipynb
  varname/core.py
  varname/utils.py
Due: pytest

0.6.3
  README.rst
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

Fix #46
  README.md
  docs/CHANGELOG.md
  playground/playground.ipynb
  tests/test_varname.py
  varname/core.py
  varname/ignore.py
  varname/utils.py
Due: pytest

0.6.3 (#47)
  .pylintrc
  README.md
  README.rst
  docs/CHANGELOG.md
  playground/playground.ipynb
  pyproject.toml
  setup.py
  tests/test_varname.py
  varname/__init__.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Allow pathlib.Path object to be used in ignore items
  docs/CHANGELOG.md
  tests/test_varname.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Allow pathlib.Path object to be used in ignore items (#48)
  docs/CHANGELOG.md
  tests/test_varname.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Add ImproperUseError to distinguish node retrieving error from improper varname use #49
  .pylintrc
  tests/test_varname.py
  varname/core.py
  varname/utils.py
Due: pytest

0.6.4
  README.rst
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

Update CHANGELOG
  docs/CHANGELOG.md
Due: none

0.6.4 (#50)
  .pylintrc
  README.rst
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  tests/test_varname.py
  varname/__init__.py
  varname/core.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Add `sep` argument to `helpers.debug()`
  varname/helpers.py
Due: pytest

0.6.5
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

Update changelog
  docs/CHANGELOG.md
  varname/helpers.py
Due: pytest

0.6.5 (#52)
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  varname/__init__.py
  varname/helpers.py
Due: poetry2setuppy, poetry2requirements, pytest

Fall mkdocs back to 1.1.2 to make sure use_directory_url works
  docs/requirements.txt
Due: none

Support single-dispatched function for argname()
  .pylintrc
  tests/test_argname.py
  varname/core.py
Due: pytest

Fix CI pylint to 2.8.*
  .github/workflows/build.yml
Due: none

0.7.0
  .github/workflows/build.yml
  .pylintrc
  README.md
  README.rst
  docs/CHANGELOG.md
  playground/playground.ipynb
  pyproject.toml
  setup.py
  tests/test_argname.py
  tox.ini
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Update CI config
  .github/workflows/build.yml
Due: none
