Repository pwwang/python-varname: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest, mypycheck, execute-playground

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - varname
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver varname/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

mypycheck:
  name: Type checking by mypy
  entry: mypy
  language: system
  pass_filenames: false
  args:
  - -p
  - varname

execute-playground:
  name: Run playground notebook
  entry: jupyter nbconvert playground/playground.ipynb --execute --to notebook
  language: system
  pass_filenames: false

chore(deps): update content-hash in poetry.lock after dependency changes
  poetry.lock
Due: none

0.14.0
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

Add changes
  index.html
Due: none

chore: update dev-dependencies section in pyproject.toml
  pyproject.toml
Due: versionchecker

revert: bring nameof back (#117)
  .github/workflows/build.yml
  README.md
  README.raw.md
  playground/playground.ipynb
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/named_expr.py
  tests/test_bytecode_nameof.py
  tests/test_nameof.py
  varname/__init__.py
  varname/core.py
  varname/utils.py
Due: flake8, versionchecker, pytest, mypycheck, execute-playground

fix: update TypeAlias import for compatibility with Python 3.9
  poetry.lock
  pyproject.toml
  varname/utils.py
Due: flake8, versionchecker, pytest, mypycheck

0.15.0
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

chore: bump executing to v2.2.1
  poetry.lock
Due: none

feat: enhanced Subscript Support for Dynamic Indexing for varname (#119)
  tests/test_varname.py
  varname/utils.py
Due: flake8, pytest, mypycheck

style: standardize string quotes and formatting across multiple modules
  playground/module_all_calls.py
  playground/module_dual_qualnames.py
  playground/module_glob_qualname.py
  tests/named_expr.py
  varname/utils.py
Due: flake8, pytest, mypycheck

feat: enhance comparisons in subscript to support multiple comparators
  tests/test_varname.py
  varname/utils.py
Due: flake8, pytest, mypycheck

0.15.1
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

fix: support index subscript in py3.8
  varname/utils.py
Due: flake8, pytest, mypycheck

fix: support ast.Index, ast.ExtSlice in py3.8 when use subscript
  varname/utils.py
Due: flake8, pytest, mypycheck

chore: migrate poetry to uv for dep management
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .gitignore
  poetry.lock
  pyproject.toml
  setup.py
  uv.lock
Due: versionchecker

feat: drop python 3.8 support
  pyproject.toml
  uv.lock
  varname/utils.py
Due: flake8, versionchecker, pytest, mypycheck

fix: fix named expressions in assignment types
  tests/test_varname.py
  varname/utils.py
Due: flake8, pytest, mypycheck

style: fix type annotations
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: flake8, pytest, mypycheck

chore: update __all__ exports in __init__.py and helpers.py
  varname/__init__.py
  varname/helpers.py
Due: flake8, versionchecker, pytest, mypycheck

chore: add pyright configuration to ignore test files
  pyproject.toml
Due: versionchecker

1.0.0a1
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

1.0.0
  pyproject.toml
  uv.lock
Due: versionchecker

Path conditions:
  flake8: any of: ^varname/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  versionchecker: any of: ^pyproject\.toml|varname/__init__\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  pytest: any of: ^tests/.+$|^varname/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  mypycheck: any of: ^varname/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  execute-playground: any of: playground/playground.ipynb, but not: ^README.rst$|^tests/|^setup.py$|^examples/
