Repository pwwang/python-varname: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypycheck, pytest, execute-playground

mypycheck:
  name: Type checking by mypy
  entry: mypy
  language: system
  pass_filenames: false
  args:
  - -p
  - varname

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

execute-playground:
  name: Run playground notebook
  entry: jupyter nbconvert playground/playground.ipynb --execute --to notebook
  language: system
  pass_filenames: false

👷 Add python3.10 in CI
  .github/workflows/build.yml
Due: none

🔖 0.8.2
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: mypycheck, pytest

0.8.2 (#72)
  .github/workflows/build.yml
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
  varname/ignore.py
Due: mypycheck, pytest

⬆️ Upgrade executing to 0.8.3
  pyproject.toml
Due: none

📝 Update README.md to add new contributors
  README.md
Due: none

🚨 Use flake8 instead of pylint
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pylintrc
  .tagitrc
  make_readme.py
  setup.py
  tox.ini
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: mypycheck, pytest

🔖 0.8.3
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: mypycheck, pytest

0.8.3 (#74)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pylintrc
  .tagitrc
  README.md
  docs/CHANGELOG.md
  make_readme.py
  pyproject.toml
  setup.py
  tox.ini
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: mypycheck, pytest

- Upgrade executing to 0.9 - Support `__getattr__/__setattr__` etc for `argname` - Support constants for `argname` when `vars_only=True`
  .gitignore
  README.md
  README.raw.md
  pyproject.toml
  tests/test_argname.py
  varname/core.py
  varname/helpers.py
  varname/utils.py
Due: mypycheck, pytest

Add poetry.lock to the repo
  .gitignore
  poetry.lock
Due: none

Remove deprecated `argname2`
  tests/test_argname.py
  varname/__init__.py
  varname/core.py
Due: mypycheck, pytest

Update playground
  playground/playground.ipynb
Due: execute-playground

CI: add missing typing_extensions for mypy
  .github/workflows/build.yml
Due: none

CI: use mypy 0.910
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
  varname/utils.py
Due: mypycheck, pytest

CI: Fix deps install
  .github/workflows/build.yml
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

Remove end_lineno and end_col_offset when reconstruct node for argname
  varname/utils.py
Due: mypycheck, pytest

Fix for lower python versions
  varname/core.py
  varname/utils.py
Due: mypycheck, pytest

🔖 0.9.0
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
  varname/utils.py
Due: mypycheck, pytest

Update README
  README.raw.md
Due: none

Update README
  README.md
Due: none

0.9.0 (#84)
  .github/workflows/build.yml
  .gitignore
  README.md
  README.raw.md
  docs/CHANGELOG.md
  playground/playground.ipynb
  poetry.lock
  pyproject.toml
  tests/test_argname.py
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/utils.py
Due: mypycheck, pytest, execute-playground

CI: fix docs building
  .github/workflows/docs.yml
  docs/requirements.txt
Due: none

CI: build docs for push but only deply on master
  .github/workflows/docs.yml
Due: none

CI: fix syntax in docs
  .github/workflows/docs.yml
Due: none

Fix CI docs building for 0.9.0 (#85)
  .github/workflows/docs.yml
  docs/requirements.txt
Due: none

📝 Fix CHANGELOG
  docs/CHANGELOG.md
Due: none

⬆️ Upgrade executing to 1.0
  poetry.lock
  pyproject.toml
Due: none

🔖 0.9.1
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: mypycheck, pytest

0.9.1 (#87)
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  varname/__init__.py
Due: mypycheck, pytest

Fix bytecode_nameof in Python 3.11
  .editorconfig
  varname/utils.py
Due: mypycheck, pytest

Test 3.11 in GHA
  .github/workflows/build.yml
Due: none

revert error thing
  varname/utils.py
Due: mypycheck, pytest

mypy
  varname/utils.py
Due: mypycheck, pytest

black
  varname/utils.py
Due: mypycheck, pytest

Require coverage ^6.4 for python3.7+
  poetry.lock
  pyproject.toml
Due: none

Exclude some coverage and remove .editconfig
  .editorconfig
  varname/utils.py
Due: mypycheck, pytest

Python 3.11 support (#89)
  .editorconfig
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
  varname/utils.py
Due: mypycheck, pytest

Path conditions:
  mypycheck: any of: ^varname/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  pytest: any of: ^tests/.+$|^varname/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  execute-playground: any of: playground/playground.ipynb, but not: ^README.rst$|^tests/|^setup.py$|^examples/
