Repository pwwang/python-varname: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest, mypycheck, execute-playground

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - varname
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver varname/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

mypycheck:
  name: Type checking by mypy
  entry: mypy
  language: system
  pass_filenames: false
  args:
  - -p
  - varname

execute-playground:
  name: Run playground notebook
  entry: jupyter nbconvert playground/playground.ipynb --execute --to notebook
  language: system
  pass_filenames: false

🔖 0.10.0
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

⬆️ Pump executing to 1.2
  poetry.lock
  pyproject.toml
Due: versionchecker

💡 Add overrload for nameof and argname, but comment out, until we drop support for python3.7 or older
  varname/core.py
Due: flake8, pytest, mypycheck

🚨 Fix linting
  varname/core.py
Due: flake8, pytest, mypycheck

🚨 Don't use future annotations for python3.6
  varname/core.py
Due: flake8, pytest, mypycheck

📝 Update README for shields badges
  README.md
  README.raw.md
Due: none

👷 Update CI using lastest actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

👷 Roll ubuntu to 20.04 to support python3.6
  .github/workflows/build.yml
Due: none

Update README for shields badges (#91)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  README.md
  README.raw.md
  poetry.lock
  pyproject.toml
  varname/core.py
Due: flake8, versionchecker, pytest, mypycheck

🏷️ Overload types for nameof and argname
  varname/core.py
Due: flake8, pytest, mypycheck

💥 Drop python <3.8 to prepare 0.11
  .github/workflows/build.yml
  README.raw.md
  poetry.lock
  pyproject.toml
Due: versionchecker

🏷️ Fix return types of argname overload
  varname/core.py
Due: flake8, pytest, mypycheck

🔖 0.11.0
  README.md
  docs/CHANGELOG.md
  make_readme.py
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

0.11.0 (#92)
  .github/workflows/build.yml
  README.md
  README.raw.md
  docs/CHANGELOG.md
  make_readme.py
  poetry.lock
  pyproject.toml
  varname/__init__.py
  varname/core.py
Due: flake8, versionchecker, pytest, mypycheck

✨ Support starred variable for varname() (#96)
  tests/test_varname.py
  varname/utils.py
Due: flake8, pytest, mypycheck

✅ Fix tests
  tests/test_varname.py
Due: none

📝 Update docs for `varname(strict=...)`
  varname/core.py
Due: flake8, pytest, mypycheck

🔖 0.11.1
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

✨ Add `jsobj` to create dict without explicitly specifying the key-value pairs
  README.md
  README.raw.md
  playground/playground.ipynb
  pyproject.toml
  tests/test_helpers.py
  varname/core.py
  varname/helpers.py
Due: flake8, versionchecker, pytest, mypycheck, execute-playground

🚨 Fix type annotation
  varname/helpers.py
Due: flake8, pytest, mypycheck

👷 Update CI to use python 3.10 as default
  .github/workflows/build.yml
Due: none

🔧 Fix typo in deploy job condition
  .github/workflows/build.yml
Due: none

🔖 0.11.2
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

Add Dockerfile for codesandbox
  .codesandbox/Dockerfile
Due: none

Bump up other dependencies
  poetry.lock
Due: none

Bump executing to ^2.0
  poetry.lock
  pyproject.toml
Due: versionchecker

Update python3.12 to CI
  .github/workflows/build.yml
Due: none

Fix linting for flake8 in python3.12
  varname/utils.py
Due: flake8, pytest, mypycheck

Bump up coverage dependency
  poetry.lock
  pyproject.toml
Due: versionchecker

🔖 0.12.0
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

Bump executing to 2.0.1
  poetry.lock
Due: none

0.12.1
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

0.12.1 (#101)
  docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

Add `helpers.exec_code` function to replace `exec` where source code available at runtime
  README.md
  README.raw.md
  tests/test_helpers.py
  varname/helpers.py
Due: flake8, pytest, mypycheck

Update README and playground for `exec_code`
  .gitignore
  README.md
  playground/playground.ipynb
  poetry.lock
Due: execute-playground

Fix type hint for sourcefile parameter
  varname/helpers.py
Due: flake8, pytest, mypycheck

Add future import for annotations
  varname/helpers.py
Due: flake8, pytest, mypycheck

Fix linting
  varname/helpers.py
Due: flake8, pytest, mypycheck

Path conditions:
  flake8: any of: ^varname/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  versionchecker: any of: ^pyproject\.toml|varname/__init__\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  pytest: any of: ^tests/.+$|^varname/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  mypycheck: any of: ^varname/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  execute-playground: any of: playground/playground.ipynb, but not: ^README.rst$|^tests/|^setup.py$|^examples/
