Repository pwwang/python-varname: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^varname/.+$
        pass_filenames: false
        types: [python]
        args: [varname]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        entry: dephell deps convert --from=poetry --to=setup.py
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: poetry2requirements
        name: Convert pyproject.toml to requirements.txt
        entry: dephell deps convert --from=poetry --to=requirements.txt
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^varname/.+$

Rename varname/varname.py to varname/core.py
  varname/__init__.py
  varname/core.py
  varname/helpers.py
Due: pytest

Update config files
  .github/workflows/build.yml
  .tagitrc
  pyproject.toml
Due: poetry2setuppy, poetry2requirements

Allow regex for qualname matching in ignore
  tests/test_varname.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Ignore standard libraries by default.
  tests/test_varname.py
  varname/ignore.py
Due: pytest

Warn when a potential decorated function used directly as an ignore element
  varname/helpers.py
  varname/ignore.py
Due: pytest

Warn when a suspicious decorated function used as ignore element directly
  varname/ignore.py
Due: pytest

Use fnmatch instead of re for qualname matching for ignore; Check realpath instead of raw for module filename check for ignore.
  varname/ignore.py
Due: pytest

Split IgnoreModule
  varname/ignore.py
Due: pytest

Update docs.
  varname/core.py
Due: pytest

Split IgnoreQualname
  tests/test_varname.py
  varname/ignore.py
Due: pytest

Update docs.
  README.md
  README.rst
  docs/CHANGELOG.md
  varname/core.py
Due: pytest

Try adding python3.9 in CI
  .github/workflows/build.yml
Due: none

Update pylintrc
  .pylintrc
Due: none

Apply suggestions from code review
  varname/ignore.py
Due: pytest

Take suggestions by Alex in the PR.
  tests/conftest.py
Due: none

Take suggestions by Alex in the PR.
  tests/test_helpers.py
  tests/test_nameof.py
  tests/test_varname.py
  tests/test_will.py
  varname/__init__.py
  varname/core.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Add __varname_ignore_id__ to the module of module-qname ignore pair.
  varname/ignore.py
Due: pytest

Update README.md
  README.md
Due: none

Update README.md (#41)
  README.md
Due: none

Take suggestions by Alex in the PR.
  README.md
  tests/conftest.py
  tests/test_varname.py
  varname/core.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Submit README.rst, converted by dephell
  README.rst
Due: none

Fix a typo in test
  tests/test_varname.py
Due: none

Change argument module to modname for utils.check_qualname_by_source
  varname/ignore.py
  varname/utils.py
Due: pytest

Add lru_cache to check_qualname_by_source
  varname/utils.py
Due: pytest

Initiate the playground
  playground/playground.ipynb
Due: none

Finish playground
  README.md
  README.rst
  playground/module_all_calls.py
  playground/module_dual_qualnames.py
  playground/module_glob_qualname.py
  playground/playground.ipynb
Due: none

Add qualname uniqueness check for IgnoreFilenameQualname
  varname/ignore.py
Due: pytest

Uniform __repr__ and simplify subclass_init for IgnoreElem subclasses
  tests/test_varname.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Update varname/ignore.py
  varname/ignore.py
Due: pytest

0.6.0 (#39)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  .pylintrc
  .tagitrc
  README.md
  README.rst
  docs/CHANGELOG.md
  playground/module_all_calls.py
  playground/module_dual_qualnames.py
  playground/module_glob_qualname.py
  playground/playground.ipynb
  pyproject.toml
  setup.py
  tests/conftest.py
  tests/test_bytecode_nameof.py
  tests/test_helpers.py
  tests/test_nameof.py
  tests/test_varname.py
  tests/test_will.py
  varname.py
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Add argname to get names/sources of arguments
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_argname.py
  varname/__init__.py
  varname/core.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Update docs for argname
  README.md
  playground/playground.ipynb
  tests/test_argname.py
Due: none

Fix linting
  varname/core.py
Due: pytest

Fix tests
  tests/test_argname.py
Due: none

Support individual access to positional and keyword arguments for argname
  tests/test_argname.py
  varname/core.py
  varname/utils.py
Due: pytest

Update docs
  README.md
  playground/playground.ipynb
  varname/core.py
Due: pytest

Update changelog
  docs/CHANGELOG.md
  tests/test_argname.py
  varname/utils.py
Due: pytest

Add pure_eval to evalute the function that calls argname
  README.rst
  pyproject.toml
  requirements.txt
  setup.py
  tests/conftest.py
  tests/test_argname.py
  varname/core.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Take suggestions by Alex
  varname/core.py
  varname/utils.py
Due: pytest
