Repository pwwang/python-varname: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry2setuppy, poetry2requirements, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: false
exclude: '^README.rst$|^tests/|^setup.py$|^examples/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 5df1a4bf6f04a1ed3a643167b38d502575e29aef
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: masterpylintrc
        name: Overwrite local .pylintrc by master one
        entry: cp ../.pylintrc ./.pylintrc
        pass_filenames: false
        always_run: true
        language: system
-   repo: https://github.com/pre-commit/mirrors-pylint
    rev: v2.4.4
    hooks:
    -   id: pylint
        files: ^varname/.+$
        pass_filenames: false
        types: [python]
        args: [varname]
-   repo: local
    hooks:
    -   id: poetry2setuppy
        name: Convert pyproject.toml to setup.py
        entry: dephell deps convert --from=poetry --to=setup.py
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: poetry2requirements
        name: Convert pyproject.toml to requirements.txt
        entry: dephell deps convert --from=poetry --to=requirements.txt
        language: system
        files: pyproject.toml
        pass_filenames: false
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        args: [tests/]
        pass_filenames: false
        files: ^tests/.+$|^varname/.+$

Raise error when possible wrong frame specified for argname2
  tests/test_argname.py
  varname/core.py
Due: pytest

0.7.0 (#54)
  .github/workflows/build.yml
  .pylintrc
  README.md
  README.rst
  docs/CHANGELOG.md
  playground/playground.ipynb
  pyproject.toml
  setup.py
  tests/test_argname.py
  tox.ini
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Add `ignore` argument to `argname2()`
  varname/core.py
Due: pytest

0.7.1
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  tests/test_argname.py
  tests/test_varname.py
  varname/__init__.py
  varname/ignore.py
Due: poetry2setuppy, poetry2requirements, pytest

Fix utils.get_argument_sources() when kwargs is given as **kwargs.
  docs/CHANGELOG.md
  tests/test_argname.py
  varname/utils.py
Due: pytest

Add `ignore` argument to `argname2()` (#55)
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  tests/test_argname.py
  tests/test_varname.py
  varname/__init__.py
  varname/core.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Add direct argument to varname
  tests/test_varname.py
  varname/core.py
  varname/utils.py
Due: pytest

Support the walrus operator
  tests/named_expr.py
  tests/test_varname.py
  varname/core.py
  varname/utils.py
Due: pytest

Add strict mode to varname
  README.md
  tests/test_varname.py
  varname/core.py
  varname/helpers.py
  varname/utils.py
Due: pytest

Add strict mode to varname (#57)
  README.md
  tests/test_varname.py
  varname/core.py
  varname/helpers.py
  varname/utils.py
Due: pytest

Update CI configuration so that it can be triggered in PR by assign and label.
  .github/workflows/build.yml
  .pylintrc
Due: none

Support the walrus operator (:=)
  tests/named_expr.py
  tests/test_varname.py
  varname/core.py
  varname/utils.py
Due: pytest

Support the walrus operator (:=) (#58)
  tests/named_expr.py
  tests/test_varname.py
  varname/core.py
  varname/utils.py
Due: pytest

Prepare 0.7.2 - Update README to add breuleux as contributor - Don't upload coverage in CI with PRs - Update some docs for varname()
  .github/workflows/build.yml
  README.md
  tests/test_argname.py
  varname/core.py
  varname/ignore.py
  varname/utils.py
Due: pytest

0.7.2
  README.rst
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

0.7.2 (#59)
  .github/workflows/build.yml
  .pylintrc
  README.md
  README.rst
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  tests/named_expr.py
  tests/test_argname.py
  tests/test_varname.py
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Get richer information for ImproperUseError: #60
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Add VarnameException and VarnameWarning as root for all varname-defined exceptions and warnings.
  varname/utils.py
Due: pytest

Add mypy check pre-commit
  .pre-commit-config.yaml
  varname/core.py
  varname/utils.py
Due: pytest

Add mypy check to CI
  .github/workflows/build.yml
Due: none

0.7.3 (#61)
  .github/workflows/build.yml
  .pre-commit-config.yaml
  varname/core.py
  varname/helpers.py
  varname/ignore.py
  varname/utils.py
Due: pytest

Update versionand change log for 0.7.3
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

Update versionand change log for 0.7.3 (#62)
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

Add make_readme to pre-commit so that we know if changes break README examples
  .pre-commit-config.yaml
  README.raw.md
  make_readme.py
  requirements.txt
  setup.py
Due: none

Fix playground for 0.8
  .gitignore
  .pre-commit-config.yaml
  playground/playground.ipynb
  requirements.txt
Due: none

0.8.0
  .pre-commit-config.yaml
  README.rst
  docs/CHANGELOG.md
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

0.8.0 (#63)
  .gitignore
  .pre-commit-config.yaml
  README.raw.md
  README.rst
  docs/CHANGELOG.md
  make_readme.py
  playground/playground.ipynb
  pyproject.toml
  requirements.txt
  setup.py
  tests/test_argname.py
  tests/test_bytecode_nameof.py
  tests/test_helpers.py
  tests/test_nameof.py
  tests/test_varname.py
  tests/test_will.py
  varname/__init__.py
  varname/core.py
  varname/helpers.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Add requirements.txt back (GH lost used-by tracking without it)
  .pre-commit-config.yaml
  .pylintrc
  requirements.txt
Due: none

Add requirements.txt back (GH lost used-by tracking without it) (#64)
  .pre-commit-config.yaml
  .pylintrc
  requirements.txt
Due: none

Handle if inspect raises "could not get source code" when printing rich exception message
  varname/utils.py
Due: pytest

Update setup.py
  setup.py
Due: none

Add package name to setup.py explictly
  .pre-commit-config.yaml
  requirements.txt
  setup.py
  varname/utils.py
Due: pytest

0.8.1
  docs/CHANGELOG.md
  docs/requirements.txt
  pyproject.toml
  setup.py
  varname/__init__.py
Due: poetry2setuppy, poetry2requirements, pytest

0.8.1 (#65)
  .pre-commit-config.yaml
  docs/CHANGELOG.md
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  setup.py
  varname/__init__.py
  varname/utils.py
Due: poetry2setuppy, poetry2requirements, pytest

Create LICENSE
  LICENSE
Due: none

Create LICENSE (#67)
  LICENSE
Due: none

update and correct documentation of nameof
  varname/core.py
Due: pytest

update and correct documentation of nameof (#70)
  varname/core.py
Due: pytest

🩹 Use sysconfig instead of distutils.sysconfig to avoid deprecatewarning for python 3.10+
  varname/ignore.py
Due: pytest
