Repository pwwang/python-varname: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, versionchecker, pytest, mypycheck, execute-playground

flake8:
  name: Run flake8
  pass_filenames: false
  entry: flake8
  args:
  - varname
  language: system

versionchecker:
  name: Check version agreement in pyproject and __version__
  entry: bash -c
  language: system
  args:
  - get_ver() { echo $(egrep "^__version|^version" $1 | cut -d= -f2 | sed 's/\"\| //g'); }; v1=`get_ver pyproject.toml`; v2=`get_ver varname/__init__.py`; if [[ $v1 == $v2 ]]; then exit 0; else exit 1; fi
  ...

pytest:
  name: Run pytest
  entry: pytest
  language: system
  args:
  - tests/
  pass_filenames: false

mypycheck:
  name: Type checking by mypy
  entry: mypy
  language: system
  pass_filenames: false
  args:
  - -p
  - varname

execute-playground:
  name: Run playground notebook
  entry: jupyter nbconvert playground/playground.ipynb --execute --to notebook
  language: system
  pass_filenames: false

0.12.2
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

0.12.2 (#103)
  .gitignore
  README.md
  README.raw.md
  docs/CHANGELOG.md
  playground/playground.ipynb
  poetry.lock
  pyproject.toml
  tests/test_helpers.py
  varname/__init__.py
  varname/helpers.py
Due: flake8, versionchecker, pytest, mypycheck, execute-playground

style: change max line length to 88
  pyproject.toml
  tox.ini
Due: versionchecker

style: clean up test code styles
  tests/test_argname.py
  tests/test_bytecode_nameof.py
  tests/test_nameof.py
  tests/test_varname.py
  tests/test_will.py
Due: none

feat: support subscript node for varname
  varname/utils.py
Due: flake8, pytest, mypycheck

docs: update README.md
  README.md
  README.raw.md
Due: none

ci: remove python3.8 from CI
  .github/workflows/build.yml
Due: none

0.13.0
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

0.13.0 (#105)
  .github/workflows/build.yml
  README.md
  README.raw.md
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_argname.py
  tests/test_bytecode_nameof.py
  tests/test_nameof.py
  tests/test_varname.py
  tests/test_will.py
  tox.ini
  varname/__init__.py
  varname/utils.py
Due: flake8, versionchecker, pytest, mypycheck

Create py.typed for mypy compatibility
  varname/py.typed
Due: pytest

Add to contributors
  README.md
  README.raw.md
Due: none

Create py.typed for mypy compatibility (#109)
  README.md
  README.raw.md
  varname/py.typed
Due: pytest

0.13.1
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

Add changes
  index.html
Due: none

deps: bump up pytest to v8
  poetry.lock
  pyproject.toml
Due: versionchecker

feat: support vars_only to keep parents of an attribute for `helpers.jsobj()` (#110)
  tests/test_helpers.py
  varname/helpers.py
Due: flake8, pytest, mypycheck

0.13.2
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

feat: support frame to allow wrapping for `helpers.jsobj()` (#111)
  tests/test_helpers.py
  varname/helpers.py
Due: flake8, pytest, mypycheck

feat: support frame to allow wrapping for `helpers.jsobj()` (#111)
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

switch to poetry-core
  pyproject.toml
Due: versionchecker

switch to poetry-core (#113)
  pyproject.toml
Due: versionchecker

deps: bump up dependencies
  poetry.lock
Due: none

feat: support python 3.13 (#116)
  .github/workflows/build.yml
  pyproject.toml
  tests/test_argname.py
  varname/utils.py
Due: flake8, versionchecker, pytest, mypycheck

style: fix mypy error
  varname/utils.py
Due: flake8, pytest, mypycheck

DEPRECATED: add warning to deprecate nameof in the future
  varname/core.py
Due: flake8, pytest, mypycheck

ci: use latest CI actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

0.13.4
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

deps: bump up executing to ^2.1 to fix issues with python3.13
  poetry.lock
  pyproject.toml
Due: versionchecker

0.13.5
  docs/CHANGELOG.md
  pyproject.toml
  varname/__init__.py
Due: flake8, versionchecker, pytest, mypycheck

docs: remove deprecated nameof examples from README
  README.md
  README.raw.md
  make_readme.py
Due: none

chore(deps): update asttokens to version 3.0.0 and adjust dependencies
  poetry.lock
  pyproject.toml
Due: versionchecker

BREAKING CHANGE: deprecate nameof (see https://github.com/pwwang/python-varname/issues/117#issuecomment-2558358294)
  tests/test_bytecode_nameof.py
  tests/test_nameof.py
  varname/__init__.py
  varname/core.py
  varname/utils.py
Due: flake8, versionchecker, pytest, mypycheck

style: clean up unused imports and add spacing for readability for test files
  tests/conftest.py
  tests/named_expr.py
Due: none

ci: update build workflow to use Ubuntu 24.04 and adjust Python version conditions
  .github/workflows/build.yml
Due: none

chore(deps): add ipykernel dev dependency version 6.29.5 to run playground notebook
  playground/playground.ipynb
  poetry.lock
  pyproject.toml
Due: versionchecker, execute-playground

Path conditions:
  flake8: any of: ^varname/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  versionchecker: any of: ^pyproject\.toml|varname/__init__\.py$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  pytest: any of: ^tests/.+$|^varname/.+$, but not: ^README.rst$|^tests/|^setup.py$|^examples/
  mypycheck: any of: ^varname/.+$ and \.py$ and not (^README.rst$|^tests/|^setup.py$|^examples/)
  execute-playground: any of: playground/playground.ipynb, but not: ^README.rst$|^tests/|^setup.py$|^examples/
